* {
    margin: 0; /* ページ全体の余白を削除 */
    padding: 0; /* ページ全体のパディングを削除 */
}

.pc {
    display: flex;
}

.sp {
    display: none;
}

/* イベントトップ */
.top-contents {
    background-image: url(../img/Group183.png);
    background-position: center;
    background-size: cover;
    height: 841.11px;
    margin-top: -1px;
}

.top-logo {
    padding: 14px 40px;
}

.kv {
    display: flex;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
}

.kv-title { 
    font-size: 28px;
    line-height: 1;
    padding: 26px 0px;
}

.kv-logo {
    margin: 0 auto;
    padding-top: 21px;
}

.kv_sub_title {
    margin: 0 auto;
    padding-top: 16px;
}

.kv-date  {
    margin: 0 auto;
    padding-top: 18px;
    padding-right: 4px;
    height: 62px;
}

.kv-place {
    font-size: 29.19px;
    margin: 0 auto;
    line-height: 1;
}

.kv-line {
    display: flex;
    width: 420px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 999px;
    border: 2px solid #FFFFFF;
    background: #06C755;
}

/* 事前申し込みはこちら（無料） */
.kv-line-text {
    display: flex;
    align-items: center;
    text-indent: 30px;
    font-size: 24px;
    color: #FFFFFF;
}

.kv-line-free {
    text-indent: -10px;
}

.kv-line-icon {
    height: 57px;
    width: 57px;
    margin-left: -12px;
}


/* フリーランスサミットとは */

.freelance-summit {
    margin-top: -1500.93px;
    height: auto;
}

.freelance-summit-bg {
    margin-top: -18px;
    background-image: url(../img/Group185.svg);
    background-size: cover;
    background-position: center;
    height: 1501.26px;
}

.freelance-summit-section {
    padding-top: 53px;
}

.section {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
}

.freelance-summit-contents {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 58px;
    color: #81D7FC;
    padding-right: 13px;
}

.sub-title {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    color: #444545;
}

.sub-title::before,
.sub-title::after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #444545;
}

.freelance-summit-sub {
    padding: 14px 0px;
}

.freelance-summit-sub::before,
.freelance-summit-sub::after {
    margin: 0px 23.5px 0px 11.5px;
}

.freelance-summit-main-text {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    color: #444545;
    padding:  45px 0px;
    line-height: 2;
}

.freelance-summit-sub-text {
    font-weight: 500;
    font-size: 18px;
    color: #444545;
    text-align: left;
    line-height: 44px;
}


.event-summit-section {
    padding-top: 162px;
}

.event-summit-sub {
    margin-right: 12px;
    padding: 14px 0px;
}

.event-summit-sub::before,
.event-summit-sub::after {
    margin: 0px 32px;
}

.event-summary-contents {
    padding-top: 46px;
}

.event-summary-detail {
    display: flex;
    align-items: center;
    text-align: left;
}



.event-summary-detail-info{
    display: flex;
    align-items: baseline;
    padding-bottom: 4px;
}

.event-summary-text-info {
    flex-direction: column;
    font-family: 'Noto Sans JP';
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
}

.event-summary-boarder {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    width: 166px;
    height: 51px;
    border: 2px solid #FDD35C;
    margin-right: 20px;
}

.event-summary-title {
    margin: 0 auto;
    font-family: 'Noto Sans JP';
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #FDD35C;
}

.event-summary-text {
    font-family: 'Noto Sans JP';
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}

.event-boarder {
    width: 100%;
    height: 0px;
    margin: 34px -16px;;
    border: 1px dotted #C4C4C4;
}

.hole {
    text-indent: 11px;
}



.event-summary-detail-access {
    display: flex;
}

.event-summary-station {
    display: flex;
    flex-direction: column;
}

.event-summary-text-access {
    display: flex;
    font-family: 'Noto Sans JP';
    font-size: 22px;
    font-weight: 700;
    line-height: 41px;
}

.event-summary-station-detail {
    display: flex;
    font-family: 'Noto Sans JP';
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 20px;
    padding-bottom: 7px;
}

.event-summary-station-detail::before {
    display: flex;
    margin: 6px 2px 0px 3px;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FDD35C;
}

.event-summary-map {
    margin-left: auto;
}


/* イベント内容 */

.content-bg {
    margin-top: 86px;
    padding-bottom: 74px;
    height: auto;
    background: #FFF6DE;
}

.contents-section {
    padding-top: 80px;
}

.contents {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #FDD35C;
    padding-right: 11px;
}

.contents-sub {
    margin-right: 12px;
    padding: 17px 0px;
}

.contents-sub::before,
.contents-sub::after {
    margin: 11px 21px;
}

.contents-detail {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 10px;
}

.contents-area-detail {
    padding: 0px 45px;
    background: #FFFFFF;
}

.contents-area {
    width: 100%;
    max-width: 429px;
    height: 370px;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #FDD35C;
    background: #FFFFFF;
}

.contents-area-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 3px;
    text-align: center;
    color: #FFFFFF;
    background: #FDD35C;
}

.contents-area-sub-titel {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding-top: 16px;
    margin-right: 13px;
}

.curve {
    margin: 0 auto;
}

.sixty {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    line-height: 48px;
}

.contents-area-sub-detail {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: #FDD35C;
}

.contents-area-company {
    margin-top: -8px;
}

.contents-area-seminar {
    padding-top: 4px;
}

.stock {
    width: 100%;
    max-width: 340px;
    height: 180px;
    margin: 0 auto;
    padding: 13px 0px;
}

.img31 {
    width: 100%;
    max-width: 340px;
    height: 180px;
    margin: 0 auto;
    padding: 19px 4px;
}

/* pickup */
.pickup-bg {
    background: linear-gradient(to right, 
    #FDD35C 0px, #FDD35C 50px, 
    white 50px, white calc(100% - 50px), 
    #FDD35C calc(100% - 50px), #FDD35C 100%);
}

.pickup-section {
    max-width: 982px;
    padding: 50px 50px 65px 50px;
}

.pickup-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;    
    color: #FDD35C;
    padding-right: 8px;
}

.pickup-sub {
    padding: 23px 12px 19px 0px;
}

.pickup-contents {
    padding-top: 15px;
}

.pickup-sub::before,
.pickup-sub::after {
    margin: 11px 30px;
}

.pickup-detail {
    display: flex;
    text-align: left;
}

.pickup-company {
    display: flex;
    width: 300px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.image15 {
    width: 110.25px;
    height: 30px;
}

.pickup-info {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    width: calc(100% - 300px);
}

.pickup-pe-bank {
    padding-top: 26px;
}

.pickup-pe-bank-name {
    padding-top: 10px;
}


.pickup-boc {
    padding-top: 29px;
}

.pickup-creava {
    padding-top: 20px;
}

.pickup-creava-name {
    margin-bottom: 12px;
}


.pickup-quartrt {
    padding-top: 28px;
}

.pickup-quartrt-name {
    padding-top: 10px;
    padding-left: 2px;
}


.oplan-link {
    display: block;
    padding-left: 5px;
}

.frame {
    width: 223px;
    height: 19px;
}

.image14 {
    width: 266.79px;
    height: 30px;
}

.image17 {
    width: 124px;
    height: 57px;
}

.sunsak {
    display: block;
}

.image16 {
    width: 95px;
    height: 21px;
}

.image18 {
    width: 103px;
    height: 42px;
}

/* 出店企業一覧 */
.about-exhibitors-bg {
    background-image: url(../img/Group192.svg);
    background-position: center;
    background-size: cover;
    height: 517.01px;
    margin-top: -26px;
    margin-right: 30px;
}

.about-exhibitors-section {
    padding-top: 50px;
}

.about-exhibitors-title {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    padding-left: 30px;
    color: #81D7FC;
}

.about-exhibitors-sub {
    padding: 15px 0px;
    margin-left: 20px;
}

.about-exhibitors-sub::before,
.about-exhibitors-sub::after {
    margin: 11px 50px;
}

.about-exhibitors-contents {
    display: flex;
    text-align: left;
    padding: 75px 40px 0px 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #444545;
}

.about-exhibitors-companys {
    margin-right: auto;
    text-align: left;
}

.about-exhibitors-remarks {
    max-width: 990px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: right;
    padding-top: 22px;
    color: #444545;
}

/* タイムスケジュール */
.time-schedule-bg {
    background-image: url(../img/background_4.png);
    background-position: center;
    background-size: cover;
    height: 1520px;
    margin-top: 205px;
}

.time-schedule-section {
    max-width: 980px;
    padding-top: 90px;
}

.time-schedule-title {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #00A8F0;
}

.time-schedule-sub {
    padding: 12px 0px;
    color: #FFFFFF;

}

.time-schedule-sub::before,
.time-schedule-sub::after {
    margin: 12px 24px;
    background-color: #FFFFFF;
}

.time-schedule-contents-box {
    padding-top: 33px;
    color: #444545;
}

.time-schedule-contents {
    justify-content: space-between;
    display: flex;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.time-schedule-inset-box {
    width: 88px;
    height: 28px;
    left: -5px;
    margin-top: 7px;
    background-color: #FFFFFF;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%);
}

.time-schedule-gest-box {
    position: relative;
    width: 33.33%;
    max-width: 300px;
    height: 254px;
    border-radius: 5px;
    margin: 0px 10px;
    background: #F1FBFF99;
}

.time-schedule-start {
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-align: center;
}

.web {
    display: block;
}

.person-img {
    display: flex;
    padding-top: 16px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.person-icon {
    width: 130px;
    height: 134.04px;
}

.time-schedule-gest-title {
    display: flex;
    justify-content: flex-start; /* 水平方向に左揃え */
    align-items: center; /* 垂直方向に中央揃え */
    height: 77px;
    padding: 11px 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-align: left; /* テキストを左揃え */
}

.person-three-img {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.person-three-icon {
    max-width: 300px;
    padding-right: 6px;
    width: 100%;
    height: 112.04px;
}

.mc {
    height: 192px;
}

.person-two-img {
    display: flex;
    padding-top: 38px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.person-two-icon {
    max-width: 247.16px;
    width: 100%;
    height: 134px;
}

.person-seisei-img {
    display: flex;
    padding-top: 28px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.person-seisei-icon {
    max-width: 247.16px;
    width: 100%;
    height: 124px;
    margin-left: 5px;
}

.read-more {
    display: none;
    margin: 0 auto;
    margin-top: 13px;
    width: 115px;
    height: 26px;
    border: 1px solid #FFFFFF;
    align-items: center;
    justify-content: center;
    
}

.read-more-button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.read-more-contents {
    display: block;
}

.faq {
    padding-top: 97px;
    padding-bottom: 40px;
}

.faq-title {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #FDD35C;
}

.faq-sub {
    margin: 0 auto;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #444545;
}

.faq-sub::before,
.faq-sub::after {
    margin: 12px 24px;
}

.faq-contents{
    padding-top: 45px;
    padding-left: 90px;
}

.faq-area {
    padding-bottom: 28px;
}

.faq-detail {
    align-items: center;
    display: flex;
    padding: 8px 10px;
}

.faq-circle-question {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background-color: #00A8F0;
    color: #FFFFFF;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-right: 10px;
}

.faq-circle-answer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background-color: #FDD35C;
    color: #FFFFFF;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-right: 10px;
}

.faq-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    width: calc(100% - 30px)
}

.questionnaire {
    text-decoration: none;
}

.footer {
    background: #333333;
    height: auto;
    padding-bottom: 90px;
}

.footer-contens {
    margin: 0 auto;
    max-width: 1212px;
    padding: 0px 20px;
    padding-top: 60px;
}

.footer-boarder {
    display: flex;
    margin: 0 auto;
    width: 301px;
    height: 50px;
    border-radius: 999px;
    border: 1.63px solid #FFFFFF;
}

.hope-text {
    margin: 0 auto;
    display: flex;
    font-size: 22px;
    font-weight: 700;
    line-height: 31.86px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.footer-bar {
    max-width: 1197px;
    width: 100%;
    height: 0px;
    margin-top: 45px;
    border: 1px solid #FFFFFF99
}

.footer-detail {
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 17px 0px;
}

.footer-text {
    font-family: 'Noto Sans JP';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 12px;
    color: #FFFFFF;
}

.footer-img {
    margin-right: 33px;
}

.fixed-vertical-button {
    display: flex;
    position: fixed;   /* 画面に固定 */
    width: 65px;      /* 幅 */
    height: 303px;      /* 高さ */
    right: 0;         
    top: 50%;         /* 中央揃えのため */
    transform: translateY(-50%);
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #FFFFFF;
    background: #06C755;
    flex-direction: column;
}

@media (min-width: 1490px) {
    .freelance-summit-bg {
        margin-top: 0px;
    }
}

@media (max-width: 1010px) {

    .freelance-summit {
        margin-top: 0px;
        height: auto;
    }

    .freelance-summit-bg {
        height: auto;
    }

    .event-boarder {
        margin: 34px 0px;
    }

    .event-summary-map.pc {
        display: none;
    }
    
    .event-summary-map.sp {
        padding: 17px 0px;
        display: flex;
    }

    .content-bg {
        margin-top: 0px;
        height: auto;
    }

    .contents-detail {
        display: block;
        padding-top: 14px;
        padding-bottom: 10px;
    }
    .contents-area {
        margin: 0 auto;
        margin-bottom: 26px;
    }    

    .time-schedule-gest-title br {
        text-align: left;
        display: none; /* <br> タグを非表示にする */
    }

}

@media (max-width: 660px) {
    .pc {
        display: none;
    }

    .sp {
        display: flex;
    }

    .top-contents {
        background-image: url(../img/Group184.png);
        height: 466px;
        margin-top: -4px;
    }

    .top-logo {
        padding: 16px 12px;
    }

    .freelance-summit-section {
        padding: 0px 37px;
        padding-top: 52px;
    }

    .kv-title {
        font-size: 16px;
        line-height: 1;
        padding: 27px 0px;
    }

    .kv-logo {
        padding-top: 0px;
    }

    .kv_sub_title {
        padding-top: 15px;
    }

    .kv-date {
        padding-top: 21px;
        height: 35px;
    }

    .kv-place {
        font-size: 15.88px;
        line-height: 1;
    }

    /* フリーランスサミットとは */

    .freelance-summit-contents {
        font-size: 26px;
    }

    .sub-title {
        font-size: 14px;
        line-height: 14px;
    }

    .freelance-summit-sub {
        padding: 11px 0px;
    }

    .freelance-summit-sub::before,
    .freelance-summit-sub::after {
        width: 20px;
        margin: 0px 15.5px 0px 11.5px;
    }

    .freelance-summit-sub-text {
        font-size: 16px;
        line-height: 37px;
        padding: 14px 0px;
    }

    /* イベント開催概要 */

    .event-summary-contents {
        padding-top: 16px;
    }

    .event-summit-section {
        padding: 18px 10px 23px 12px;
    }

    .event-summit-sub::before,
    .event-summit-sub::after {
        width: 20px;
        margin: 0px 19.5px 0px 16.5px;
    }

    .event-summit-sub {
        padding: 10px 0px;
        margin-right: 0px;
    }

    .event-summary-detail-tokyo > .event-summary-detail {
        align-items: center;
    }

    .event-summary-detail{
        align-items: normal;
    }

    .event-boarder {
        margin: 5px 0px;
    }

    .event-summary-detail-info{
        padding-bottom: 0px;
        align-items: normal;
    }
    
    .event-summary-text-info {
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        padding: 3px 0px;
    }

    .access > .event-summary-boarder {
        margin-right: 5px;
    }

    .event-summary-boarder {
        max-width: 105px;
        height: 27px;
        margin: 5px 0px;
        margin-right: 18px;
        border: 1.24px solid #FDD35C;
    }
    
    .event-summary-title {
        font-size: 15px;
    }
    
    .event-summary-text {
        font-size: 14px;
        line-height: 30px;
    }

    .break-on-small {
        display: block;
    }

    .event-summary-detail-access {
        align-items: baseline;
    }

    .event-summary-text-access {
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        text-indent: 7px;
    }
    
    .event-summary-station-detail {
        font-weight: 400;
        padding-bottom: 7px;
    }
    
    .event-summary-station-detail::before {
        margin: 7px 3px 0px 1.5px;
        width: 8px;
        height: 8px;
        min-width: 8px;
    }

    .event-summary-map > iframe{
        height: 200px;
        width: 100%;
    }

    /* イベント内容 */
    .contents-section {
        padding: 30px 22px 0px 18px;
    }

    .contents {
        padding-right: 0px;
        font-size: 26px;
        line-height: 26px;
        padding-top: 10px;
    }

    .contents-sub {
        margin-right: 0px;
        padding: 7px 0px;
    }

    .contents-sub::before, .contents-sub::after {
        margin: 11px 32px;
        width: 20px;
    }

    .contents-detail {
        display: block;
        padding-top: 14px;
        padding-bottom: 10px;
    }

    .contents-area {
        margin: 0 auto;
        height: auto;
        margin-bottom: 29px;
    }

    .contents-area-title {
        font-size: 18.54px;
        font-weight: 700;
        line-height: 31.67px;
        padding: 4.5px 0px;
    }

    .contents-area-detail {
        padding: 0px 35px;
        margin-bottom: 3px;
    }

    .contents-area-sub-titel {
        font-size: 10.81px;
        line-height: 1;
        padding-top: 11.5px;
    }

    .sixty {
        font-size: 37.08px;
        font-weight: 600;
        line-height: 1;
    }

    .contents-area-sub-detail {
        font-size: 21.63px;
        font-weight: 700;
        line-height: 1;
    }
    

    .stock {
        width: 100%;
        max-width: 262.62px;
        height: 139.03px;
        padding: 11px 0px
    }

    .img31 {
        width: 100%;
        max-width: 262.62px;
        height: 139.03px;
        padding: 14px 3px;
    }

    /* pickup */
    .pickup-bg {
        background: linear-gradient(to right, 
        #FDD35C 0px, #FDD35C 10px, 
        white 10px, white calc(100% - 10px), 
        #FDD35C calc(100% - 10px), #FDD35C 100%);
    }

    .pickup-section {
        padding: 30px 20px 65px 20px;
    }

    .pickup-title {
        font-size: 26px;
        line-height: 26px;
        padding-top: 10px;
    }

    .pickup-detail {
        flex-direction: column;
    }
    
    .pickup-company {
        width: 100%;
        margin-right: 0px;
        padding: 10px 0px;
    }

    .pickup-info {
        padding: 10px 0px 30px 0px;
        width: 100%;
    }

    
    .pickup-pe-bank {
        padding-top: 0px;
    }
    
    .pickup-pe-bank-name {
        padding-top: 0px;
    }
    
    
    .pickup-boc {
        padding-top: 0px;
    }
    
    .pickup-creava {
        padding-top: 0px;
    }
    
    .pickup-creava-name {
        margin-bottom: 0px;
    }
    
    
    .pickup-quartrt {
        padding-top: 0px;
    }
    
    .pickup-quartrt-name {
        padding-top: 0px;
        padding-left: 0px;
    }
    
    .oplan-link {
        display: none;
    }

    .sucsak-link {
        display: flex;
        justify-content: center;
    }

    /* 出店企業一覧 */
    .about-exhibitors-bg {
        background-image: url(../img/Group193.svg);
        height: 329.97px;
        margin-top: 0px;
        margin-right: 0px;
    }

    .about-exhibitors-section {
        padding-top: 30px;
    }

    .about-exhibitors-title {
        font-size: 26px;
        line-height: 1;
        padding-top: 10px;
        padding-left: 0px;
    }

    .about-exhibitors-sub {
        padding: 6px 0px;
        margin-left: 5px;
    }

    .about-exhibitors-sub::before,
    .about-exhibitors-sub::after {
        margin: 11px 8px;
        width: 20px;
    }

    .about-exhibitors-contents {
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 35px;
    }

    .about-exhibitors-companys {
        text-align: center;
    }

    .about-exhibitors-remarks {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    /* タイムスケジュール */
    .time-schedule-bg {
        background-image: url(../img/AdobeStock_302690198_sp2.png);
        background-position: center;
        background-size: cover;
        height: auto;
        margin-top: 497px;
        padding-bottom: 54px;
    }

    .time-schedule-title {
        font-size: 26px;
        line-height: 26px;
    }

    .time-schedule-sub {
        padding: 5px 0px;
        color: #FFFFFF;
    }
    
    .time-schedule-sub::before,
    .time-schedule-sub::after {
        margin: 12px 16px;
        width: 20px;
    }
    
    .time-schedule-section {
        padding: 0px 20px;
        padding-top: 40px;
    }

    .time-schedule-contents-box {
        padding-top: 12px;
    }

    .time-schedule-contents {
        display: block;
    }

    .time-schedule-inset-box {
        width: 83px;
        left: -6px;
    }


    .time-schedule-gest-box {
        max-width: 650px;
        width: 100%;
        height: 103px;
        margin: 10px 0px;
    }

    .time-schedule-gest {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .web {
        display: flex;
    }

    .time-schedule-contents {
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .time-schedule-gest-title {
        display: flex;
        text-align: left;
        align-items: center;
        flex-direction: row;
        height: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-top: 64px;
        font-size: 16px;
        line-height: 17.6px;
        letter-spacing: 0.08em;
    }

    .person-img {
        padding-top: 8px;
    }

    .person-icon {
        width: 87.11px;
        height: 89px;
        margin: 0px 10px;
    }

    .person-seisei-img {
        padding-top: 15px;
    }
    
    .person-seisei-icon {
        width: 161px;
        height: 82px;
        margin: 0px 7px;
    }

    .person-three-img {
        padding-top: 17px;
    }
    
    .person-three-icon {
        height: 75px;
        width: 195.09px;
    }

    .person-two-img {
        margin: 0 auto;
        padding-top: 6px;
    }
    
    .person-two-icon {
        width: 100%;
        height: 89.52px;
    }

    .read-more {
        display: block;
    }

    .read-more-contents {
        display: none;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .read-more-contents.active {
        display: block;
        opacity: 1;
    }

    .linear-gradient {
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    }

    .faq {
        padding-top: 27px;
    }

    .faq-title {
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
    }

    .faq-sub {
        padding: 5px 0px;
    }
    
    .faq-sub::before,
    .faq-sub::after {
        margin: 12px 16px;
        width: 20px;
    }

    .faq-area {
        padding-bottom: 12px;
    }

    .faq-contents {
        padding-top: 5px;
        padding-left: 21px;
    }

    .faq-circle-question {
        width: 26.16px;
        height: 26.16px;
        font-size: 14.27px;
        line-height: 21.4px;
    }
    
    .faq-circle-answer {
        width: 26.16px;
        height: 26.16px;
        font-size: 14.27px;
        line-height: 21.4px;
    }

    .faq-text{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }


    .footer-contens {
        padding-top: 21px;
    }
    
    .footer-boarder {
        width: 250px;
        height: 40px;
        border: 1px solid #FFFFFF;
    }
    
    .hope-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 23.17px;
    }
    
    .footer-bar {
        margin: 0 auto;
        width: 296.5px;
        margin-top: 20px;
        border: 1px solid #FFFFFF99
    }
    
    .footer-detail {
        padding: 12px 0px;
    }
    
    .footer-text {
        font-size: 9.12px;
        line-height: 13.02px;
        margin-top: 9px;
        margin-left: 1px;
        margin-right: 6px;
    }
    
    .footer-img {
        margin-right: 11px;
    }

    .fixed-button {
        display: flex;
        position: fixed;   /* 画面に固定 */
        width: 343px;      /* 幅 */
        height: 49px;      /* 高さ */
        bottom: 0;         /* 画面の下部に固定 */
        left: 50%;         /* 中央揃えのため */
        transform: translateX(-50%);  /* 中央に位置させる */
        border-radius: 999px;
        border: 2px solid #FFFFFF;
        background: #06C755;
        margin: 20px 0px;
    }

    .fixed-text {
        display: flex;
        font-family: 'Noto Sans JP';
        font-size: 19.6px;
        font-weight: 700;
        line-height: 28.38px;
        text-align: left;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: #FFFFFF;
    }

    .fixed-line-icon {
        height: 46.55px;
        width: 46.55px;
        margin-left: -50px;
        margin-right: 10px;
    }
}

@media (max-width: 390px) {
    .freelance-summit {
        margin-top: -417.93px;
        height: auto;
    }

    .freelance-summit-bg {
        margin-top: -26px;
        background-image: url(../img/Group186.svg);
        height: 416.93px;
    }
}

@media (max-width: 375px) {
    .sub-title {
        font-size: 12px;
        line-height: 12px;
    }

    .contents-area-title {
        font-size: 17.54px;
    }

    .contents-area-sub-detail {
        font-size: 19.63px;
    }
    
}